<div class="container">
  <div class="currency-converter-wrapper">
    <div class="currency-converter-title-wrapper">
      <h2>Currency converter</h2>
    </div>

    <div class="currency-converter-body">
      <div class="converter-box">
        <div class="inputs-wrapper">
          <div class="input-wrapper">
            <p class="pb-5">Currency code</p>
            <input [(ngModel)]="currency"/>
          </div>

          <div class="input-wrapper">
            <p class="pb-5">Username</p>
            <input [(ngModel)]="username"/>
          </div>
        </div>

        <div class="line-button">
          <button
            [disabled]="!username || !currency"
            class="icon-button {{ !username || !currency ? 'disabled' : '' }}"
            (click)="getExchangeRateForCurrency({ username: this.username, currencyCode: this.currency })"
          >
            <i class="ri-arrow-up-down-line"></i>
          </button>
        </div>

        <div class="result-wrapper">
          <p class="question-mark" *ngIf="!(currencyCode && amount)">?</p>
          <p
            *ngIf="currencyCode && amount"
          >
            1 {{ currencyCode | uppercase }} = {{ amount | number:'1.2-2' }} PLN
          </p>
        </div>
      </div>

      <div class="logs-box">
        <h2>History requests:</h2>
        <app-loader *ngIf="loading"></app-loader>
        <div class="logs-wrapper" [@fadeInFromRight]="historyRequests.length">
          <div class="log-wrapper" *ngFor="let request of historyRequests;">
            <div class="name-time-box">
              <p>{{ request.name }}</p>
              <p>{{ request.timestamp | date: 'MMM dd, yyyy, h:mm:ss' }}</p>
            </div>

            <div class="currency-box">
              <p>{{ request.currency | uppercase }}</p>
            </div>
          </div>
        </div>
        <div class="button_wrapper">
          <button (click)="page = page - 1; initHistoryRequests(page)">prev</button>
          <button (click)="page = page + 1; initHistoryRequests(page);">next</button>
        </div>
      </div>
    </div>
  </div>
</div>
