.container {
  display: grid;
  width: 100%;
  height: 100vh;
  place-items: center;

  .currency-converter-wrapper {
    background-color: #262629;
    width: 70%;
    height: 600px;
    border-radius: 20px;
    border: 1px solid #535456;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    h2 {
      color: #7f7f80;
    }

    .currency-converter-title-wrapper {
      padding: 25px;
      border-bottom: 1px solid #535456;
    }

    .currency-converter-body {
      display: flex;
      height: 100%;
      overflow: auto;
      white-space: nowrap;

      .converter-box {
        flex: 2;
        display: flex;
        flex-direction: column;
        border-right: 1px solid #535456;

        .inputs-wrapper {
          display: flex;
          padding: 40px;
          justify-content: space-between;
          gap: 10px;
          align-items: center;
          height: 50%;

          .input-wrapper {
            .pb-5 {
              padding-bottom: 5px;
            }
          }
        }

        .line-button {
          width: 100%;
          height: 1px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #535456;
          margin-left: auto;
          margin-right: auto;
          cursor: pointer;

          .disabled {
            background-color: gray !important;
            cursor: not-allowed !important;
          }

          .icon-button {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            border: 1px solid #535456;
            border-radius: 50%;
            background: #1e1e21;
            cursor: pointer;
            color: #fcfcfc;

            i {
              font-size: 20px;
            }
          }
        }

        .result-wrapper {
          height: 50%;
          display: flex;
          justify-content: center;
          align-items: center;

          .question-mark {
            font-size: 120px !important;
          }

          p {
            font-size: 52px;
          }
        }
      }

      .logs-box {
        flex: 1;
        padding: 30px;
        position: relative;

        .button_wrapper {
          display: flex;
          justify-content: center;

          button {
            margin: 0 10px;
            padding: 5px 10px;
            background-color: #27d1a8;
            border: none;
            border-radius: 5px;
            color: #ffffff;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
              background-color: #1faa90;
            }

            &:disabled {
              background-color: gray;
              cursor: not-allowed;
            }
          }
        }

        h2 {
          color: #fcfcfc;
          margin-bottom: 25px;
        }

        .logs-wrapper {
          height: 400px;

          .log-wrapper {
            display: flex;
            justify-content: space-between;
            align-content: center;
            overflow: hidden;
            padding: 10px;
            border-top: 1px solid #27d1a8;
            border-bottom: 1px solid #27d1a8;

            &:nth-child(1) {
              border-top: 2px solid #27d1a8;
            }

            &:last-child {
              border-bottom: 2px solid #27d1a8;
            }
          }

          .name-time-box, .currency-box {
            display: flex;
            align-items: flex-start;
            justify-content: center;
          }

          .name-time-box {
            flex-direction: column;
            gap: 3px;
          }

          .currency-box {
            align-items: center;

            p {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
